<%= form_with(model: my_friend) do |form| %>
  <% if my_friend.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(my_friend.errors.count, "error") %> prohibited this my_friend from being saved:</h2>
      <ul>
        <% my_friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="mb-3">
    <% form.label :First_name, style: "display: block" %>
    <%= form.text_field :First_name, class:"form-control", placeholder:"First name" %>
  </div>
  <div class="mb-3">
    <% form.label :Last_name, style: "display: block" %>
    <%= form.text_field :Last_name, class:"form-control",placeholder:"Last name" %>
  </div>
  <div class="mb-3">
    <% form.label :Phone, style: "display: block" %>
    <%= form.text_field :Phone, class:"form-control",placeholder:"Phone nubber" %>
  </div>
  <div class="mb-3">
    <% form.label :Email, style: "display: block" %>
    <%= form.text_field :Email, class:"form-control", placeholder:"e-mail@" %>
  </div>
  <div class="mb-3">
    <%= form.number_field :user_id, id: :my_friend_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div>
  <div>
    <%= form.submit class:" btn btn-success" %>
  </div>
<% end %>
