<%= render @my_friend %>
<div>
  <!--<%= link_to "Edit this  friend", edit_my_friend_path(@my_friend) %>-->
  <%= link_to "New friend", new_my_friend_path, class:"btn btn-secondary" %>
  <%= link_to "Back to my friends", my_friends_path,class:"btn btn-secondary" %>
  <!-- <%= button_to "Destroy this  friend", @my_friend, method: :delete %> -->
</div>
